body,html{
	height:100%;
	width: 100%;
	margin:0;
	padding:0;
	overflow-y: scroll;
	overflow-x: hidden;
}
#Name{
	display: inline-block;
    background-color: #30343A;
    width: 100%;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    text-align: center;
}
#Name p{
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
#navibar{
    background-color: white;
    list-style-type: none;
    height: 59.5px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, .7);
	transform-style: preserve-3d;
}
#steve{
    float: left;
    margin-left: 35px;
    margin-top: 15px;
}
.social{
    float: right;
    display: inline-block;
    margin-right: 50px;
    margin-top: 15px;
}
#twitter{
    margin-left: 10px;
}
#instagram{
    margin-left: 10px;
}
#navibar ul{
    display: inline-block;
    margin-left: -25px;
}
#navibar li{
    font-size: 18px;
    margin-top: 5px;
    margin-left: 0px;
    float:left;
    list-style:none;
    font-family: 'Fjalla One', sans-serif;
}
#navibar li a{
    text-decoration: none;
    padding-top: 21.2px;
    padding-bottom: 16.8px;
    padding-left: 20px;
    padding-right: 20px;
}
#navibar li a:hover{
    background-color: rgb(33, 37, 46);
    color: white;
    transition: all 0.5s ease 0s;
}
#myinfo{
	color: rgb(33, 37, 46);
}
#hobbies{
    color: rgb(33, 37, 46);
}
#TV{
    background-color: rgb(33, 37, 46);
	color: white;
}
/*TV*/
#TV-header{
    float: left;
    width: 100%;
    background-image: url("../pic/dylan3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 11em;
    padding-bottom: 11em;
    color: white;
    text-align: center;
    overflow: hidden;
}
#TV-header h1{
	color: white;
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-shadow: 0px 10px 20px rgba(0,0,0,1);
	transform-style: preserve-3d;
}
#TV-header hr{
    width: 60%;
	margin-top: 10px;
	height: 0.9px;
	border: 0;
	color: white;
	background-color: white;
}
#TV-header h2{
	margin-top: -30px;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
	font-weight: 200;
	line-height: 30px;
	text-shadow: 0px 10px 20px rgba(0,0,0,1);
	transform-style: preserve-3d;
}
#TV-header h3{
	margin-top: 0px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	line-height: 30px;
	text-shadow: 0px 10px 30px rgba(0,0,0,.7);
	transform-style: preserve-3d;
}
#TV-header p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    padding: 5px;
}
#TV-header a{
    color: white;
    border: white solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#TV-header a:hover{
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
    transition: all 0.5s ease 0s;
}
/*teenwolf*/
#teenwolf-pic{
    background-image: url("../pic/teenwolf.jpg");
    background-size: cover;
    background-position: center;
    height: 30em;
    width: 60%;
    float: left;
}
#space1{
    float: left;
    background-color: white;
    width: 40%;
    height: 30em;
}
#teenwolf{
    text-align: center;
    color: rgb(35,34,34);
    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 30px;
    line-height: 1.8em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
#teenwolf h1{
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 45px;
}
#teenwolf p{
    margin-top: 40px;
}
#button2 p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 400em;

}
#button2 a{
    color: rgb(35,34,34);
    border: rgb(35,34,34) solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#button2 a:hover{
    color: white;
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
    transition: all 0.5s ease 0s;
}
/*flash*/
#flash-pic{
    background-image: url("../pic/flash.jpg");
    background-size: cover;
    background-position: center;
    height: 30em;
    width: 60%;
    float: right;
}
#space2{
    float: right;
    background-color: white;
    width: 40%;
    height: 30em;
}
#flash{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 30px;
    text-align: center;
    color: rgb(35,34,34);
    padding: 50px;
    line-height: 1.8em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
#flash h1{
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 10px;
}
#flash p{
    margin-top: 25px;
}
#button3 p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 400em;

}
#button3 a{
    color: rgb(35,34,34);
    border: rgb(35,34,34) solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#button3 a:hover{
    color: white;
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
    transition: all 0.5s ease 0s;
}
/*strange*/
#strange-pic{
    background-image: url("../pic/strange.jpg");
    background-size: cover;
    background-position: center;
    height: 30em;
    width: 60%;
    float: left;
}
.bottomsec{
	position: relative;
}
#space3{
    float: left;
    background-color: white;
    width: 40%;
    height: 30em;
}
#strange{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 30px;
    text-align: center;
    color: rgb(35,34,34);
    padding: 50px;
    line-height: 1.8em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
#strange h1{
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 10px;
}
#strange p{
    margin-top: 40px;
}
#button4 p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 400em;

}
#button4 a{
    color: rgb(35,34,34);
    border: rgb(35,34,34) solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#button4 a:hover{
    color: white;
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
    transition: all 0.5s ease 0s;
}
.contact{
	float: left;
    width: 100%;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-align: left;
    overflow: hidden;
	box-shadow: 0px -10px 20px rgba(0, 0, 0, .7);
	transform-style: preserve-3d;
}
.contact table{
	color: white;
    font-family: 'Oswald', sans-serif;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 5%;
    font-size: 18px;
}
.contact thead{
	font-size: 1.25em;
}
.contact td{
    padding-right: 3em;
}
.contact a{
	color: white;
}
.contact a:hover{
	text-decoration: none;
}
.social2{
	float: right;
	margin-right: 5%;
	margin-top: -100px;
}
#dylan{
	position: absolute;
	float: right;
	margin-top: -350px;
	margin-left: 87%;
}
#footer{
    float: left;
    background-color: rgb(57,60,68);
    width: 100%;
    height: 35px;
}
#footer p{
    color: rgb(128,129,135);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    margin-top: 7px;
}
