body{
    background-color: white;
}
#Name{
    margin: -8px;
    background-color: #30343A;
    padding: 0.1px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 3px;
    text-align: center;
}
#navibar{
    background-color: white;
    list-style-type: none;
    margin: -8px;
    padding: 5px;
    text-align: center;
}
#navibar ul{
    display: inline-block;
}
#navibar li{
    font-size: 15px;
    margin-right: 100px;
    margin-bottom: -15px;
    float:left;
    list-style:none;
    font-family: 'Fjalla One', sans-serif;
}
#navibar a{
    text-decoration: none;
}
#navibar a:link{
    color: rgb(35,34,34);
}
#navibar a:hover{
    color: grey;
}
#navibar a:visited{
    color: rgb(35,34,34);
    border-bottom: grey solid;
}
/*Big Pic*/
#Intro-header{
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 12em;
    padding-bottom: 12em;
    color: white;
    text-align: center;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
}
#Intro-header h1{
    font-size: 70px;
    letter-spacing: 2px;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 170px;
}
#Intro-header p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    padding: 5px;
    margin: auto;
}
#Intro-header a{
    color: white;
    border: white solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#Intro-header a:hover{
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
}
/*Intro*/
#Intro-pic{
    background-image: url("Harbin.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -8px;
    height: 45em;
    width: 50%;
    float: left;
}
#space1{
    float: left;
    background-color: white;
    width: 50%;
    height: 720px;
    margin-right: -8px;
}
#Introduction{
    text-align: center;
    color: rgb(35,34,34);
    padding: 50px;
    line-height: 1.8em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
#Introduction h1{
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 80px;
}
#Introduction p{
    margin-top: 80px;
}
#button2 p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 400em;

}
#button2 a{
    color: rgb(35,34,34);
    border: rgb(35,34,34) solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#button2 a:hover{
    color: white;
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
}
/*Hobbies*/
#Hobby-pic{
    background-image: url("pic2.jpg");
    background-size: cover;
    background-position: center;
    margin-right: -8px;
    height: 45em;
    width: 50%;
    float: right;
}
#space2{
    float: right;
    background-color: white;
    width: 50%;
    height: 720px;
    margin-left: -8px;
}
#Hobbies{
    text-align: center;
    color: rgb(35,34,34);
    padding: 50px;
    line-height: 1.8em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
#Hobbies h1{
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 80px;
}
#Hobbies p{
    margin-top: 80px;
}
#button3 p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 400em;

}
#button3 a{
    color: rgb(35,34,34);
    border: rgb(35,34,34) solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#button3 a:hover{
    color: white;
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
}
/*Link*/
#Link-pic{
    background-image: url("pic3.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -8px;
    height: 45em;
    width: 50%;
    float: left;
}
#space3{
    float: left;
    background-color: white;
    width: 50%;
    height: 720px;
    margin-right: -8px;
}
#Link{
    text-align: center;
    color: rgb(35,34,34);
    padding: 50px;
    line-height: 1.8em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}
#Link h1{
    line-height: 1.5em;
    font-size: 24px;
    margin-top: 80px;
}
#Link p{
    margin-top: 80px;
}
#button4 p{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 400em;

}
#button4 a{
    color: rgb(35,34,34);
    border: rgb(35,34,34) solid;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
#button4 a:hover{
    color: white;
    border: rgb(33, 37, 46) solid;
    width: 30em;
    background-color: rgb(33, 37, 46);
}
#contact{
    float: left;
    background-color: black;
    width: 101.3%;
    height: 320px;
    margin-left: -8px;
}
#contact table{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 70px;
    margin-left: 145px;
    font-size: 18px;
}
#contact td{
    padding-right: 4em;
}
#footer{
    float: left;
    background-color: rgb(49,49,49);
    width: 101.3%;
    height: 43px;
    margin-left: -8px;
}
